<!-- reset-password.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">    
    <title>Recuperação de Senha</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-top: 20px;
        }

        .logo {
            text-align: center;
            margin-bottom: 20px;
        }

        .logo img {
            max-width: 100px;
            height: auto;
        }

        .message {
            text-align: center;
            margin-bottom: 20px;
        }

        .reset-button {
            text-align: center;
            margin-top: 20px;
        }

        .reset-button a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #3498db;
            color: #fff;
            text-decoration: none;
            border-radius: 3px;
        }

        .footer {
            margin-top: 20px;
            text-align: center;
            color: #888;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="https://imgur.com/Y1mueXn" alt="Logo">
        </div>
        <div class="message">
            <h2>Recuperação de Senha</h2>
            <p>Você solicitou a recuperação de senha. Clique no botão abaixo para redefinir sua senha.</p>
        </div>
        <div class="reset-button">
            <a href="{{ resetLink }}">Redefinir Senha</a>
        </div>
        <div class="footer">
            <p>Este é um e-mail automático. Por favor, não responda a este e-mail.</p>
        </div>
    </div>
</body>

</html>
